#page__chat {
    height: 100vh;
    padding: 1.1rem 2.2rem;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.page__chat-interacoes {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius2);
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    padding: 4rem;
    overflow: auto;
}

.page__chat-back {
    font-size: 2rem;
    color: var(--color-dark);
}

.page__chat-ask {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page__chat-user {
    display: flex;
    gap: 0.5rem;
    font-size: 1.3rem;
}

#completion {
    margin: 0 1.2rem;
}

.chat__inputs{
    display: grid;
    grid-template-columns: 2fr 0.7fr 2fr 1.2fr;
    align-items: center;
    gap: 1rem;
}

.chat__inputs {
    display: grid;
    grid-template-columns: 2fr 0.7fr 2fr 1.2fr;
    align-items: center;
    gap: 1rem;
}

.chat__select,
.chat__inputs input {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius2);
    background-color: var(--color-light);
    align-items: center;
    text-align: center;
    border: none;
    border-bottom: 0.2rem solid var(--color-tertiary);
}

.chat__select:focus,
.chat__inputs input:focus {
    border-bottom: 0.2rem solid var(--color-dark);
}

.invalid,
.chat__inputs input.invalid {
    border-bottom: 0.2rem solid var(--color-red);
}

.chat__button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: var(--border-radius2);
    cursor: pointer;
}

.chat__messages {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hidden {
    display: none;
}



@media(max-width: 850px){
    .chat__inputs{
        grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr;
    }

    .page__chat-interacoes {
        padding: .9rem;
    }

    #completion {
        font-size: 1rem;
        padding: 0;
        text-align: justify;
    }

    #pergunta {
        font-size: 1rem;
        padding: 0;
        text-align: justify;
    }

    .chat__button {
        gap: .3rem;
        padding: 1rem .2rem;
    }
}