header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.app__header-logo {
    width: 150px;
    margin-top: 10px;
    cursor: pointer;
}

.app__header-navbarList {
    width: 100%;
    display: flex;
    gap: 50%;
}

.app__header-navbarList-item {
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.5s ease all;
}

.app__header-navbarList-item:hover {
    color: black;
}