header {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;   
}

.app__header-logo {
    width: 120px;
    margin-top: 10px;
    cursor: pointer;
}

.app__header-navbarList {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.1rem;
    gap: 3rem;
}

.app__header-navbarList-item {
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.5s ease all;
}

.app__header-navbarList-item:hover {
    color: black;
}

.content {
    width: 100%;
    height: 75vh;
    background-image: url('../img/fundo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

.content-introduction {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 8% 10%;
    gap: 50px;
}

.app__main-introduction-text {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}

.app__main-introduction-text strong {
    font-size: 2em;
}

.app__main-introduction-button {
    padding: 20px 0;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    transition: 0.5s ease all;
}

.app__about {
    background-color: #fff;
    padding: 10%;
}

.app__main-introduction-button:hover {
    background-color: #fff;
    color: #0C7BD9;
}

.app__about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.app__about-title {
    color: #0C7BD9;
    font-size: 2.5em;
    font-weight: bold;
}

.app__about-p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.app__card-border {
    width: 100%;
    height: auto;
    border: 2px solid black;
    padding: 35px;
    border-radius: 50%;
}

.app__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.app__card-text {
    font-size: 1.2em;
    font-weight: bold;
}

.app__about-card{
    display: flex;
    gap: 50px;
}
