header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;   
    background-color: rgb(255, 255, 255); 
    z-index: 999; 
    border-radius: 6px;
  }
  
  header {
    border-bottom: 1px solid #eaeaea;
  }
  
  .app__header-logo {
    width: 140px;
    cursor: pointer;
    margin-top: 13px;
}
  
  
  .app__header-navbarList {
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.1rem;
    gap: 3rem;
  }
  
  .app__header-navbarList-item {
    color: black;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.5s ease all;
  }
  
  .app__header-navbarList-item:hover {
    color: #8ac9e3;
  }