.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.content-introduction {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/kaotaru-dCOuYgsm9X8-unsplash.jpg');
    background-size: cover;
    background-position: bottom;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10rem;
    gap: 2rem;
}

.app__main-introduction-text {
    color: black;
    font-size: 3em;
    font-weight: bold;
}

.app__main-introduction-text strong {
    font-size: 6rem;
}

.app__main-introduction-button {
    width: 15rem;
    height: 90%;
    padding: 0.5rem 1rem;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease all;
}

.content-howtotravel {
    border-radius: 20px;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: #fff;
}

.content-howtotravel-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content-howtotravel-img {
    width: 64px;
    font-size: 2.5rem;
    color: var(--color-primary);
    
}