.app__main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.content-introduction {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/kaotaru-dCOuYgsm9X8-unsplash.jpg');
    background-size: cover;
    background-position: bottom;
    border-radius: var(--border-radius2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10rem;
    gap: 2rem;
}

.introduction-text {
    color: var(--color-dark);
    font-size: 3rem;
    font-weight: bold;
}

.introduction-text strong {
    font-size: 6rem;
}

.app__main-introduction-button {
    width: 100%;
    max-width: 10rem;
    height: 4rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-dark);
    border-radius: var(--border-radius2);
    color: var(--color-light);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    transition: 0.5s ease all;
    margin-left: 2rem;
}

@media(max-width: 1000px){
    .introduction-text{
        font-size: 2rem;
        margin-top: 1.6rem;
    }

    .app__main-introduction-button{
        margin-top: 2rem;
        margin-left: 3.5rem;
    }
}

@media(max-width: 730px){
    .content-introduction{
        flex-direction: column;
        align-items: center;
    }

    .introduction-text{
        font-size: 1.5rem;
        margin-top: 5rem;
        margin-bottom: -3rem;
    }

    .introduction-text strong{
        font-size: 5rem;
    }

    .app__main-introduction-button{
        margin-left: 3.3rem;
        margin-top: 1rem;
    }
}