@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-primary: #8ac9e3;
    --color-secondary: #A1A1A1;
    --color-tertiary: #eaeaea;
    --color-dark: #000;
    --color-light: #fff;

    --border-radius: 2.2rem;
    --border-radius2: 1rem;
}