.travelGuide__content {
    border-radius: var(--border-radius);
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: var(--color-light);
    max-width: 1400px;
    min-width: 300px;
    margin: 0 auto;
}

.travelGuide__item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.travelGuide__item-img {
    width: 64px;
    font-size: 2.5rem;
    color: var(--color-primary);    
}

.travelGuide__item-information {
    display: flex;
    flex-direction: column;
}

.travelGuide__item-information p {
    font-size: 0.7rem;
    color: var(--color-secondary)
}

.travelGuide__item-information p strong {
    font-size: 1.2rem;
    color: var(--color-dark);
}

.travelGuide__separator{
    font-size: 2rem;
    color: var(--color-primary);
    margin-left: 0.8rem;
    z-index: 1;
}


@media(max-width: 1000px){
    .travelGuide__content{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: auto;
    }

    .travelGuide__item{
        width: 100%;
        justify-content: flex-start;
        margin-left: 2.7rem;
    }

    .travelGuide__item-img{
        width: 48px;
        font-size: 2rem;
    }

    .travelGuide__item-information{
        font-size: 0.5rem;
    }

    .travelGuide__item-information p{
        font-size: 0.6rem;
    }

    .travelGuide__item-information p strong{
        font-size: 1rem;
    }

    .travelGuide__separator{
        transform: rotate(90deg);
        align-self: center;
    }
}

@media(max-width: 730px){
    .travelGuide__content{
        flex-direction: column;
        align-items: flex-start;
        max-width: 100px;
        justify-content: flex-start;
        margin: 3rem;
    }
}