#app__about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app__about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.app__about-informations {
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.informations-ourName {
    font-size: 2rem;
}

.informations-title {
    color: var(--color-primary);
    font-size: 3.5rem;
    font-weight: bold;
}

.informations-bio {
    text-align: justify;
    font-size: 1.2rem;
}

.informations-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.app__about-img {
    width: 20rem;
    border-radius: 0 var(--border-radius2) var(--border-radius2) 0;
}